<form action="" method="get">
    {{ filter.form.as_p }}
    <input type="submit" name="submit" value="Submit" />
    <input type="submit" name="exportcsv" value="Export to CSV" />
</form>
<table>
    <tr>
        <th>Created At</th>
        <th>Text</th>
        <th>Screen Name</th>
        <th>User Name</th>
        <th>Location</th>
        <th>Retweet Count</th>
        <th>Followers Count</th>
        <th>Favourites Count</th>
    </tr>
    {% for obj in filter.qs %}
    <tr>
        <td>{{obj.created_at}}</td>
        <td>{{obj.text}}</td>
        <td>{{obj.screen_name}}</td>
        <td>{{obj.user_name}}</td>
        <td>{{obj.location}}</td>
        <td>{{obj.retweet_count}}</td>
        <td>{{obj.follower_count}}</td>
        <td>{{obj.favourite_count}}</td>
    </tr>
    {% endfor %}
</table>

